.table {
    margin-top: 10px;
}

.table thead th {
    background-color: #36304a;
    color: #f5f2fc;
    white-space: nowrap;
}

.table thead tr th:first-child {
    border-top-left-radius: 20px;
}

.table thead tr th:last-child {
    border-top-right-radius: 20px;
}

.table tbody tr:nth-child(2n) td {
    background-color: #f5f5f5;
}

#app {
    padding: 5px;
}

.app-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.app-header > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#app #navigation {
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 5px;
}

.c-pointer {
    cursor: pointer;
}

#refresh-container {
    align-items: center;
    display: flex;
    gap: 5px;
}

.merge-status-table .pull-request-list {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
}

#login-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    height: 100vh;
}
